div.form {
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}
div.aa {
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
}
